* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(124, 78, 167);
}

main {
    background-color: rgb(158, 166, 204);
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5pc black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}